body {
}

div.col-md-9#Main {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    text-align: left;
    height: 420px;
    background-size: 1107px;
}

div.col-md-3#Main {
    background-image: url('Images/map location.jpg');
    text-align: right;
    height: 420px;
    width: 333.5px;
    background-size: 424px;
}

.MainSec {
    padding-top: 0px; 
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.row#white {
    background-color: white;
    height: 100px;
}

h1.Name {
    font-family: 'Merriweather', serif;
    text-align:center;
    color: white;
}
h2.Name {
    text-align:center;
    color: white;
}

h3.Name {
    font-family: 'Merriweather', serif;
    text-align:center;
    color: white;
}

h2.row2 {
    font-family: 'Eagle Lake', cursive;
    text-align:center;
    color: white;
    padding-top: 5px;
}

h3.row2 {
    font-family: 'Eagle Lake', cursive;
    text-align:center;
    color: white;
    padding: 0px;
    margin-top: 5px;
}

#second {
    background-color: #6B5F7E;
    height: 125px;
}

#third {
    margin-top: 40px;
    margin-bottom: 40px;
}

button#btn3 {
    background-color: #6B5F7E;
    color: white;
}
#third1 {
    font-family: 'Merriweather', serif;
    margin-left: 50px;
    height: 225px;
    color: #6B5F7E;
    width:810px;
}

#third2 {
    background-image: url('Images/cold snow island.jpeg');
    margin-right: 50px;
    height: 250px;
    width: 455px;
    background-size:cover;
}

#fourth {
    background-color: #6B5F7E;
}

button#btn4 {
    background-color: white;
    color: #6B5F7E;
}

#fourth1 {
    background-image: url('Images/modern-villa.jpeg');
     margin-left: 60px;
     margin-top: 50px;
     margin-bottom: 40px;
    height: 250px;
    width: 455px;
    background-size:cover;
}

#fourth2 {
    font-family: 'Merriweather', serif;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    height: 225px;
    width:750px;
}

button#btn5 {
    background-color: #6B5F7E;
    color: white;
}

#fifth1 {
    font-family: 'Merriweather', serif;
    color: #6B5F7E;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    height: 225px;
    width:750px;
}

#fifth2 {
    background-image: url('Images/tuscany-grape-field-nature-51947.jpeg');
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 250px;
    width: 455px;
    background-size: cover;
}

#seventh {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    height: 325px;
}

#seventh1 {
    background-image: url('Images/darkblue sky.jpg');
    height: 325px;
    background-size: 417px;
}

#seventh2 {
    color: #6B5F7E;
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    text-align: center;
}

button#btn7 {
    background-color: #6B5F7E;
    color: white;
}

#seventh3 {
    background-image: url('Images/pool with bench chairs.jpg');
    height: 325px;
    background-size: 417px;
}

#eighth {
    margin-left: 50px;
    margin-right: 50px;
    height: 325px;
}

#eighth1 {
    font-family: 'Merriweather', serif;
    color: #6B5F7E;
    margin-top: 40px;
    text-align: center;
}

button#btn8 {
    background-color: #6B5F7E;
    color: white;
}

#eighth2 {
    background-image: url('Images/bedroom.jpg');
    height: 325px;
    background-size: 417px;
}

#eighth3 {
    font-family: 'Merriweather', serif;
    color: #6B5F7E;
    margin-top: 40px;
    text-align: center;
}

#nineth {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    height: 325px;
}

#nineth1 {
    background-image: url('Images/padio with chairs.jpg');
    height: 325px;
    background-size: 417px;
}

#nineth2 {
    font-family: 'Merriweather', serif;
    color: #6B5F7E;
    margin-top: 40px;
    text-align: center;
}

button#btn9 {
    background-color: #6B5F7E;
    color: white;
}

#nineth3 {
    background-image: url('Images/outside chairs.jpg');
    height: 325px;
    background-size: 417px;
}

#eleventh {
    height: 200px;
}

.filler {
    height: 200px;
}

.carousel-caption {
    font-family: 'Courgette', cursive;
    color: #6B5F7E;
}

.carousel-indicators li {
    background-color: #6B5F7E;
}

#last {
    height: 200px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

#last1 {
    font-family: 'Merriweather', serif;
    color: #6B5F7E;
}

#name2 {
    height: 26px;
    width: 254px;
    padding-right: 0px;
    margin-right: 30px;
}

#email {
    height: 26px;
    width: 254px;
}

#comment {
    margin-top: 20px;
    width: 542px;
    height: 100px;
    columns: 100px;
}

button#btnlast {
    background-color: #6B5F7E;
    color: white;
    margin-top: 15px;
    margin-left: 460px;
}

.footer1 {
    text-align:center;
    margin-top: 30px;
    color: white;
    padding: 0px;
}

.footer2 {
    text-align:center;
    color: white;
    padding: 0px;
}